mixin Header(data)
    - mainColor = data.mainColor || 'color: rgba(0, 0, 0, 0.9)'
    - buttonColor = data.buttonColor
    - layoverImage = data.layoverImage
    - layoverSize = data.layoverSize || 'cover'
    - layoverPosition = data.layoverPosition || 'center center'
    - backgroundColor = data.backgroundColor
    - backgroundImage = data.backgroundImage
    - backgroundSize = data.backgroundSize || 'cover'
    - backgroundPosition = data.backgroundPosition || 'center center'
    - padding = data.padding || '2em 0'
    - margin = data.margin || '0'

    - title = data.title || ''
    - subtitle = data.subtitle || ''
    - paragraphs = data.paragraphs || []
    - buttons = data.buttons || []
    - borderBottomSize = data.hasBorder ? '1px' : 0

    style.
        .fullHeader {
            background-color: #{backgroundColor} !important;
            border-bottom: #{borderBottomSize} solid #dedede;
            margin: #{margin};
        }
        .fullHeader__content { padding: #{padding}; }
        .fullHeader__title { color: #{mainColor} }
        .fullHeader__subtitle { color: #{mainColor} }
        .fullHeader__paragraph { color: #{mainColor} }
        .fullHeader__content .button { background: #{buttonColor} }
        .fullHeader__background {
            background-image: url(#{backgroundImage});
            background-size: #{backgroundSize};
            background-position: #{backgroundPosition};
            background-repeat: no-repeat;
        }
        .fullHeader__image {
            background-image: url(#{layoverImage});
            background-size: #{layoverSize};
            background-position: #{layoverPosition};
            background-repeat: no-repeat;
        }

        layoverSize:

        'cover'
        ,
        layoverPosition:

        'center center'
        ,
        layoverImage:

        ''
        ,


        .fullHeader__button,
        .fullHeader__button span {
            color: #{mainColor};
            border-color: #{mainColor};
        }

    .fullHeader
        .fullHeader__background
        .fullHeader__wrapper.container_inner
            .fullHeader__content
                h1.fullHeader__title(style='')= title
                h2.fullHeader__subtitle= subtitle

                each paragraph in paragraphs
                    p.fullHeader__paragraph !{paragraph.body}

                .fullHeader__links
                    each button in buttons
                        - classnameButton = button.type === 'big' ? 'fullHeader__button__big' : ''
                        a(href= button.path, class= classnameButton + ' ' + button.className).fullHeader__button.action_button
                            span.icon(style="font-size: 20px;", class= button.icon)
                            span.text= button.text

            .fullHeader__image


//
    .about_bio__large__callToAction#aboutActions
    a(href="/resume/jorge_ferreiro_resume.pdf?pdf=resume&ref=about", style="border: 2px solid #d83901; color: #d83901;", target="_blank").about_bio__large__button
        span.icon.'
    | Read Resume
    a(href="/contact", style="border-width: 2px;").about_bio__large__button
        span.icon.ion-android-mail
        | Contact me
    //- a(href="/resume/jorge_ferreiro_resume.pdf?download=true", target="_blank").about_bio__large__button
      span.icon.ion-ios-cloud-download-outline
      | Download Resume
