.jfmenu
  .jfmenu_overlay
  .jfmenu_content

    // put the size of your header
    .jfmenu_top_separator

    h1.jfmenu_title Discover me

    // Menu block containing links
    ul
      li(class="#{path==='about'? 'current_section' : '' }")
        a(href="/about")
          span About Jorge Ferreiro
      li(class="#{path==='projects'? 'current_section' : '' }")
        a(href="projects")
          span Projects &amp; Works
      li(class="#{path==='contact'? 'current_section' : '' }")
        a(href="/contact")
          span Contact me
      li.submenu
        a
          span Social Networks
          span.icon-arrow-down2.right

        // Menu block containing links (sublinks)
        ul
          li
            a(href="https://www.github.com/ferreiro", target="_blank")
              span Github
          li
            a(href="https://www.linkedin.com/in/jgferreiro", target="_blank")
              span Linkedin
          li
            a(href="https://www.twitter.com/jgferreiro", target="_blank")
              span Twitter
          li
            a(href="https://www.soundcloud.com/jgferreiro", target="_blank")
              span Soundcloud

      li.submenu
        a
          span Language
          span.icon-arrow-down2.right

        ul
          li
            a(href="/")
              span English

      //- li
      //-   a(onclick="alert('me [at] jgferreiro.com')")
      //-     span Email


.menu.fixed
  .container

    a.logo(href="/")
        img(src="/images/logo.jpg")

    .left
      a.item(href="/about", class="#{path==='about'?'item-selected':''}")
        p About Jorge Ferreiro

      a.item(href="/projects", class="#{path==='projects'?'item-selected':''}")
        p Projects &amp; Works

      a.item(href="/contact", class="#{path==='contact'?'item-selected':''}")#contact
        p Contact

    .right

      .jfmenu_open_button#dropdown-mobiles
        span.icon-paragraph-justify

      .dropdown
        .item.with-icon
          p
            span.icon-address-book.extra-margin
            span Social Networks
            .dropdown-content#DropdownSocial
              a.dropdown-link(href="https://github.com/ferreiro", target="_blank") Github
              a.dropdown-link(href="https://linkedin.com/in/jgferreiro", target="_blank") Linkedin
              a.dropdown-link(href="https://twitter.com/jgferreiro", target="_blank") Twitter
              a.dropdown-link(href="https://soundcloud.com/jgferreiro", target="_blank") Soundcloud
      //
        .dropdown
          .item.with-icon
            p
              span.icon-cog
              .dropdown-content#DropdownSocial
                //a.dropdown-link(href="/es") Español
                a.dropdown-link(href="/") English
