extends ./includes/layout

block content
    
  //- Container middle
  .container_middle.sectionHeader
    include ./includes/breadcrumb.jade
     
    .projectsFilter
      .projectsFilter_options#projectsFilter_button
        .projectsFilter_title Filter projects by
          .projectsFilter_arrow
            span.icon-circle-down
        
      ul.projectsFilter_list#projectsFilter_list
        if filtered
          li.projectsFilter_entry
            a(href="/projects").projectsFilter_entry_link < Clear filter
      
        li.projectsFilter_entry
          a(href="/projects/backend").projectsFilter_entry_link Backend
  
        li.projectsFilter_entry
          a(href="/projects/frontend").projectsFilter_entry_link Frontend
      
        li.projectsFilter_entry
          a(href="/projects/bash").projectsFilter_entry_link Bash
  
  .imagePopup
    .imagePopup_wrap
      .imagePopup_close
        span X
      .imagePopup_content
        img(src="images/projects/music4deejays.png")
  
  
  //- Right Container
  .container_middle
  
    if filtered
      .projectsFilter_warning
        p.projectsFilter_warning_text Filter activated! Showing <b>#{filtered_by}</b> projects
        a(href="/projects").projectsFilter_warning_button Restore
    //- else
    //-   .projectsFilter_warning.projectsFilter_warning_gray
    //-     p.projectsFilter_warning_text Showing <b>all</b> projects. You can filter by using left box

    if projects
      .projects#animate_div
        
        - for project in projects
          .project.box_with_shadow
            
            .project_bg
              if project.background
                .project_bg_image(style="background-image:url(#{project.background});")
              if project.color
                .project_bg_solid(style="background-color:#{project.color};")
                  
            //- Project Header
            .project_header
              .project_header_left
                if project.avatar
                  .project_header_avatar(style="background-image:url(#{project.avatar});")
                .project_header_data
                  if project.title
                    .project_header_title
                      if project.links
                        a(href="#{project.links.website}").project_header_title.project_header_title_clickable #{project.title}
                      else
                        a.project_header_title #{project.title}
                  if project.date
                    a.project_header_date #{project.date}
                      
              .project_header_right

                //- //- Project Body
                //- if project.links
                //-   .project_links
                //-     if project.links.website
                //-       a(href="#{project.links.website}", target="_blank").project_links_website(style="border-color:#{project.color}; color:#{project.color};") Website
                //-     if project.links.code
                //-       a(href="#{project.links.code}", target="_blank").project_links_code Code
                    

                .project_header_share
                  span.icon-share
                    
            //- Project Body
            if project.images
              .project_gallery
                .project_gallery_next
                  p
                    span.icon-next
                
                .project_gallery_list
                  //- .owl-carousel
                  for image in project.images
                    .project_gallery_entry(style="background-image:url(#{image});")
                    
            //- Project Body
            .project_body
                            
              if project.about
                h4.project_body_title About #{project.title}
                p.project_body_text !{project.about}
                
              if project.highlights
                h4.project_body_title Highlights
                .project_highlight
                  ul.project_highlight_list
                    for highlight in project.highlights
                      li.project_highlight_entry
                        .project_highlight_entry_icon
                          span.icon-trophy
                        p.project_highlight_entry_text !{highlight}
              
              if project.stack
                .project_stack
                  h4.project_body_title Techonologies stack
                  ul.project_stack_list
                    for stack in project.stack
                      li.project_stack_entry
                        if stack == "bower"
                          i(class="cbp-ig-icon devicon-bower-line")
                        else if stack == "less"
                          i(class="cbp-ig-icon devicon-less-plain-wordmark")
                        else
                          i.cbp-ig-icon(class="devicon-#{stack}-plain")
                        p.project_stack_title #{stack}
              
              if project.people
                .project_people
                  h4.project_body_title People
                  ul.project_people_list
                    for person in project.people
                      li.project_people_entry
                        img(src="#{person.avatar}").project_people_entry_avatar
                        p #{person.name}
                      
                        
              //- Project Body
              if project.links
                .project_links
                  if project.links.website
                    a(href="#{project.links.website}", target="_blank").project_links_website(style="border-color:#{project.color}; color:#{project.color};") Visit website
                  if project.links.code
                    a(href="#{project.links.code}", target="_blank").project_links_code Open source code
                  
