.jfmenu
  .jfmenu_overlay
  .jfmenu_content

    //-put the size of your header
    .jfmenu_top_separator

    // h1.jfmenu_title Jorge Ferreiro

    mixin mobileMenuItem (item)
      li(id= item.id, class= path===item.id ? 'current_section' : '')
        if item.id == 'home'
          - item.name = 'Home'
        a(href= item.url, target= item.target || '_self').link_focus_deactivated
          span= item.name

    //-Menu block containing links
    ul
      each item in menu || []
        +mobileMenuItem(item)

      li.submenu
        a
          span Social Networks
          span.icon-arrow-down2.right

        //-Menu block containing links (sublinks)
        ul
          each item in social || []
            li
              a(href= item.url, target= item.target || '_blank').link_focus_deactivated
                span.icon-separated(class="icon-" + item.icon)
                span #{item.name}

header.menu.fixed#menu
  .menu__wrapper.container_inner
      a.logo(href="/")
        img(src="/images/logo.jpg").logo__image
        .logo__text Jorge Ferreiro

      //.menu_left
        nav.menu__nav
          each item in menu || []
            if !item.hidden
              if item.id == 'home'
                //- Skip home icon on desktop
              else
                - itemClass = path===item.id ? 'item-selected' : ''
                a.item(id= item.id, href= item.url, target= item.target || '_self', class= itemClass)
                  if item.icon
                    p.icon(class= item.icon)
                  if item.name
                    p= item.name

      .menu_right
        nav.menu__options

          each item in menu || []
            if !item.hidden
              if item.id == 'home'
                //- Skip home icon on desktop
              else
                - itemClass = path===item.id ? 'item-selected' : ''
                a.item(id= item.id, href= item.url, target= item.target || '_self', class= itemClass)
                  if item.icon
                    p.icon(class= item.icon)
                  if item.name
                    p= item.name

          .menu-socialLinks
            each item in social || []
              a.menu-socialLinks__item(id= item.id, href= item.url, target= item.target || '_target')
                span.dropdown-icon(class="icon-" + item.icon)
                //- span.dropdown-text #{item.name}

          if admin
            a.item(href="/admin/")
              p Admin

         
          //- a.item.with-icon(href="/newsletter").openNewsletterSubscription
            p
              //- i(class="icon ion-android-mail").dropdown-top-icon
              span Subscribe

          //-.dropdown.dropdown-social
            .item.with-icon
              p
                i(class="icon ion-chatbox-working").dropdown-top-icon
                //-span Social - Let's connect!
                span Social Networks
                .dropdown-content#DropdownSocial
                  .dropdown-wrapper
                    each item in social || []
                      a.dropdown-item(id= item.id, href= item.url, target= item.target || '_target')
                        span.dropdown-icon(class="icon-" + item.icon)
                        span.dropdown-text #{item.name}

      .jfmenu__mobileButton#dropdown-mobiles
        .jfmenu__mobileButton__wrapper
          // p.jfmenu__mobileButton__text= path
          .jfmenu__mobileButton__icon
            span.icon.ion-navicon