extends ./includes/blog_layout_v2_large
include ./mixins/postCard

block content_header
  - hasAnimation = false
  +blogHeader(hasAnimation)

block extraScripts
  script(src="/javascripts/socialSharing.js")

block content_large
  //- Right Container
  .blogPost.animated.fadeInUp
    if admin
      ul.blog__post__options
        li
          a(href= '/blog/' + post.permalink) See post
        li
          a(href= '/admin/edit/' + post.permalink)
            span.icon.ion-edit
            | Edit post
        li
          a(href= '/admin/delete/' + post.permalink)
            span.icon.ion-android-delete
            | Delete post

      i(style="margin-top: 1.5em; display: block;")= 'postid: ' + post._id + ' | Permalink: ' + post.permalink
      p= 'Views ' + post.views + ' | Likes: ' + post.likes
      hr

    if error
      h1= error

    if post
      .socialSharing#socialSharing
        ul.socialSharing__list
          li.socialSharing__entry
            a(id="tweetShare" href="#" target="_blank")
              span.icon.icon-twitter
          li.socialSharing__entry
            a(id="facebookShare" href="#" target="_blank")
              span.icon.icon-facebook

      h1.blogPost__title= post.title
      h2.blogPost__subtitle= post.summary
      img(src= post.pic, style="width: 100%; margin: 1.5em 0;")
      .blogPost__content !{post.html}

block after_content

  //- This div with ID is used by the Javascript
  //- To know where to hide the sharing pannel.
  #relatedPosts
    if relatedPosts && relatedPosts.length > 0
      .container.blogPostRelated
        .container_inner

          h3.blogPostRelated__title Related posts

          .threeColsGrid
            each post, index in relatedPosts
              .threeColsGrid__item
                .threeColsGrid__item__wrapper
                  +postCard(post)