extends ./includes/blog_layout_v2_large
include ./mixins/postCard

block content_header
  - hasAnimation = false
  +blogHeader(hasAnimation)

block extraCss
  <link rel="stylesheet" href="/vendors/twentytwenty/css/twentytwenty.css" type="text/css" media="screen" />

block extraScripts
  script(src="/javascripts/socialSharing.js")
  <script src="/vendors/twentytwenty/js/jquery.event.move.js" type="text/javascript"></script>
  <script src="/vendors/twentytwenty/js/jquery.twentytwenty.js" type="text/javascript"></script>
  script(src="/javascripts/imageComparator.js")
  script(src="/javascripts/imageResizer.js")

block content_large
  //- Right Container
  .blogPost.animated.fadeInUp
    if admin
      ul.blog__post__options(style="margin-bottom: 1em;")
        li(style="margin-right: 1em;")
          a(href= post.permalink + '?disableAdmin=true').action_button
            span.icon.ion-eye
            | See post as normal user
        li(style="margin-right: 1em;")
          a(target="_blank", href= '/admin/edit/' + post.permalink).action_button
            span.icon.ion-edit
            | Edit post
        li
          a(href= '/admin/delete/' + post.permalink).action_button
            span.icon.ion-android-delete
            | Delete post

      //-p= 'Views ' + post.views + ' | Likes: ' + post.likes

    if error
      h1= error

    if post
      .socialSharing#socialSharing
        ul.socialSharing__list
          li.socialSharing__entry
            a(id="tweetShare").socialSharing__item
              // span.icon.icon-twitter
              span.icon.ion-social-twitter-outline
          li.socialSharing__entry
            a(id="linkedinShare").socialSharing__item
              span.icon.icon-linkedin2

      h1.blogPost__title= post.title
      h2.blogPost__subtitle= post.summary
      img.blogPost__image(src= post.pic, style="width: 100%;")
      .blogPost__content!= post.html

      if post.category
        each category in post.category
          span= category

block after_content

  //- This div with ID is used by the Javascript
  //- To know where to hide the sharing pannel.
  #relatedPosts
    if relatedPosts && relatedPosts.length > 0
      .container.blogPostRelated
        .container_inner

          h3.blogPostRelated__title Related posts

          .threeColsGrid
            each post, index in relatedPosts
              .threeColsGrid__item
                .threeColsGrid__item__wrapper
                  +postCard(post)