extends ./includes/blog_layout

block blog_sidebar
  //- override it

block blog_content

  //- Right Container
  div(style="max-width: 700px; width: 700px; margin: 0 auto;").animated.fadeInUp

    if admin
      ul.blog__post__options
        li
          a(href= '/blog/' + post.permalink) See post
        li
          a(href= '/admin/edit/' + post.permalink)
            span.icon.ion-edit
            | Edit post
        li
          a(href= '/admin/delete/' + post.permalink)
            span.icon.ion-android-delete
            | Delete post

      i(style="margin-top: 1.5em; display: block;")= 'postid: ' + post._id + ' | Permalink: ' + post.permalink
      p= 'Views ' + post.views + ' | Likes: ' + post.likes
      hr

    if error
      h1= error
    if post
      .blogPost
        h1.blogPost__title= post.title
        h2.blogPost__subtitle= post.summary
        .blogPost__content !{post.html}