meta(charset='UTF-8')
meta(http-equiv="Content-Language", content="en-US")
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(http-equiv="expires", content="7 * 24 * 60 * 60")
meta(name="revisit-after", content="7 days")

meta(name='author', content='Jorge Ferreiro')
meta(name='theme-color', content='#9C2901')
meta(name="twitter:site", content="@jgferreiro")
meta(name="keywords", content="Software Engineer, Product Manager, Entrepreneur, Blog, Tech, Node, Javascript, HTML, Backend, Frontend, Full Stack")

block extraMeta
  //- Override by the templates that needs to add more metadata
  //- such as Open Graph Articles or facebook social links
  meta(property="og:type", content="website")
  meta(property="og:title", content="Jorge Ferreiro")
  meta(property="og:url", content="http://www.ferreiro.me")
  meta(property="og:site_name", content="Jorge Ferreiro")
  meta(property="og:locale", content="en_US")

link(rel="canonical", href="http://ferreiro.me")

if post
  title= 'Jorge Ferreiro ' + post.title + ' - Software Engineer, Product Manager & Entrepreneur.'
  meta(name='description', content= post.summary)
else
  if title
    title= title + ' - Jorge Ferreiro - Software Engineer, Product Manager & Entrepreneur.'
  else
    title= 'Jorge Ferreiro - Software Engineer and Product Manager. Node, Javascript, Python, Java, HTML5, CSS3, JQuery. Backend engineer and Frontend engineer.'

  if description
    meta(name='description', content='#{description}')
  else
    //- default description
    meta(name='description', content='Jorge Ferreiro is a Software Engineer, Product Manager and Entrepreneur with a solid experience in Backend and Frontend Development. Ferreiro uses the following technologies: Node, Javascript, Python, Java, MongoDB, Redis, HTML5, CSS3, JQuery.')

link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon-180x180.png')
link(rel='icon', type='image/png', href='/images/favicons/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/images/favicons/android-chrome-192x192.png', sizes='192x192')
link(rel='icon', type='image/png', href='/images/favicons/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='/images/favicons/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/images/favicons/manifest.json')
link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#d83902')
meta(name='msapplication-TileColor', content='#9C2901')
meta(name='msapplication-TileImage', content='/images/favicons/mstile-144x144.png')

link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700, 900', rel='stylesheet', type='text/css')

//- Installed libraries
link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
link(rel='stylesheet', href='/bower_components/devicon/devicon.min.css')
link(rel='stylesheet', href='/bower_components/Ionicons/css/ionicons.min.css')
link(rel='stylesheet', href='/vendors/hover-min.css')
link(rel='stylesheet', href='/vendors/animate.min.css')

//- Own libraries
link(rel='stylesheet', href='/css/style.min.css?v=3.0.0')
link(rel='stylesheet', href='/vendors/checked_box.css')
link(rel='stylesheet', href='/fonts/ferreiro/style.css')

link(rel='stylesheet', href='/vendors/carousel/owl.carousel.css')
link(rel='stylesheet', href='/vendors/carousel/owl.theme.css')

block extraCss
block extraHead