.jfmenu
  .jfmenu_overlay
  .jfmenu_content

    //-put the size of your header
    .jfmenu_top_separator

    h1.jfmenu_title Jorge Ferreiro

    //-Menu block containing links
    ul
      each item in menu || []
        li(id= item.id, class= path===item.id ? 'current_section' : '')

          if item.id == 'home'
            - item.name= 'Home'
          a(href= item.url, target= item.target || '_self')
            span= item.name

      li.submenu
        a
          span Social Networks
          span.icon-arrow-down2.right

        //-Menu block containing links (sublinks)
        ul
          each item in social || []
            li
              a(href= item.url, target= item.target || '_blank')
                span.icon-separated(class="icon-" + item.icon)
                span #{item.name}

.menu.fixed
  .container
    .menu__wrapper
      a.logo(href="/")
          img(src="/images/logo.jpg")

      .menu_left
        nav.menu__nav
          each item in menu || []
            if !item.hidden
              a.item(id= item.id, href= item.url, target= item.target || '_self', class= path===item.id ? 'item-selected' : '')
                if item.icon
                  p.icon(class= item.icon)
                if item.name
                  p= item.name

        //-.optionsMenu
          ul.optionsMenu__list
            each item in menu || []
              li.optionsMenu__item(, aria-selected= path===item.id ? 'true' : 'false')
                a(href= item.url).optionsMenu__link
                  span= item.name

      .menu_right

        //-.dropdown
          a(href='/contact')
            .item.with-icon
              p
                <i class="icon ion-home"></i>
                span.social_network_text Contact

        .dropdown.dropdown-social
          .item.with-icon
            p
              i(class="icon ion-chatbox-working", style="color:#d83901; margin-right: 0.8em;")
              //-span Social - Let's connect!
              span Social Networks
              .dropdown-content#DropdownSocial
                each item in social || []
                  a.dropdown-item(id= item.id, href= item.url, target= item.target || '_target')
                    span.dropdown-icon(class="icon-" + item.icon)
                    span.dropdown-text #{item.name}

      .jfmenu_open_button#dropdown-mobiles
        span.jfmenu_open_button_text= path
        span.jfmenu_open_button_icon
          //-span.icon.ion-android-menu
          span.icon.ion-navicon(style="font-size: 60px;")
          //-span.icon.ion-navicon-round